<div id="year_info" class="year_info">
    <div class="title"><span id="year">XXXX</span> Presidential Elections</div>

    <div class="stat_type">Popular Vote</div>
    <div id="votes" class="stats">
    </div>

    <div class="stat_type">Electoral Votes*</div>
    <div id="ev" class="stats">
    </div>

    <div class="note">
        <i>*Unbound electors may have voted for other candidates. This has never affected the outcome of the election.</i>
    </div>

    <button id="map">map</button>
    <button id="cart">cartogram</button>
</div>