<defs>
    <pattern id="cart-stripes" x="0" y="0" width="10" height="100" patternUnits="userSpaceOnUse" patternTransform="rotate(-30)">
        <rect style="fill: rgba(255,255,255,.25)" class="stripes" x="0" width="5" height="100" y="0"></rect>
    </pattern>

    <pattern id="map-stripes" x="0" y="0" width="20" height="100" patternUnits="userSpaceOnUse" patternTransform="rotate(30)">
        <rect style="fill: rgba(255,255,255,.25)" class="stripes" x="0" width="10" height="100" y="0"></rect>
    </pattern>
</defs>